!!! 5
%html
  %head
    %title NodeTemplate
    %meta{ :charset => "utf-8" }
    %meta{ :author => "" }
    %meta{ :description => "" }
    %meta{ :name => "viewport", :content => "width=device-width" }
    %link{ :rel => "shortcut icon", :href => "img/favicon.ico" }
    %link{ :rel => "apple-touch-icon", :href => "img/apple-touch-icon.png" }
    %link{ :rel => "apple-touch-icon", :sizes => "57x57", :href => "img/apple-touch-icon-57x57.png" }
    %link{ :rel => "apple-touch-icon", :sizes => "72x72", :href => "img/apple-touch-icon-72x72.png" }
    %link{ :rel => "apple-touch-icon", :sizes => "114x114", :href => "img/apple-touch-icon-114x114.png" }
    = stylesheet_link_merged "application"
  %body
    = yield
    = javascript_include_merged "application"